<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Chat Python</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    
</head>
<body>
    <h1>Socket IO</h1>
    <ul id="messages"></ul>
    <form id="messagesform">
        <input type="text" id="messageinput" autocomplete="off"/>
        <button>Send</button>
    </form>
</body>
<script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>
<script>
    var socket = io.connect('http://'+document.domain+':'+location.port);
    document.getElementById('messagesform').onsubmit = function(event){
        event.preventDefault();
        var messageinput = document.getElementById('messageinput');
        socket.emit('mensaje', messageinput.value);
        maessageinput.value = "";
    } 
    socket.on("mensaje",function(msg) {
        var ul = document.getElementById("messages");
        var li = document.createElement("li");
        var newContent = document.createTextNode(msg);
        li.appendChild(newContent);
        ul.appendChild(li);
    });
</script>
</html>
